:root {
    --primary-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --title-text-color: #2E2F42;
    --text-color: #434455;
    --hero-color: #FFFFFF;
    --desc-color: #E7E9FC;
    --studio-color: #F4F4FD;
    --button-color: #404BBF;
}



body {
    font-family: "Roboto", sans-serif;
    background-color: var(--hero-color);
    color: var(--text-color);
    
}

.list {
    text-decoration: none;
}

ul {
    list-style: none;
    text-decoration: none;
    
}
.color-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.color-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--title-text-color);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.style-nev .link:hover,
.style-nev .link:focus {
    color: var(--accent-color)
    
}

.style-nev .item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}

.style-nev .address {
    line-height: 1.5;
    color: var(--text-color);
    letter-spacing: 0.02em;
}

.hero {
    background-color: var(--title-text-color)
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
    color: var(--hero-color);
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    background-color: #4D5AE5;
    color: var(--hero-color);
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-color);
    color: var(--hero-color);
    cursor: pointer
} 

.visually-hidden { 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; 
    height: 1px; 
    overflow: hidden; 
    border: 0; 
    padding: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    margin: -1px; 
}

.section-team {
    background-color: var(--studio-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    
}

.section-subtitle,
.headline {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.headline-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    letter-spacing: 0.02em;
}

.btn {
    background-color: var(--studio-color);
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--hero-color)
}

.pic {
    background-color: var(--hero-color);
}


.footer {
    background-color: var(--title-text-color);
}

.white-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    color: var(--studio-color);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.desc {
    font-size: 16px;
    line-height: 1.5;
    color: var(--desc-color);
    letter-spacing: 0.02em;
}